a {
    text-decoration: none !important;
    color: white !important;
    transition: all 0.1s ease-in-out !important ;
}

a:hover{
    color: rgb(197, 197, 197) !important;
}

.login-page{
    height: 100vh;
}

.login-section{
    width: 55%;
}

.or-section{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical-timeline.vertical-timeline-custom-line::before {
    background: #424242;
  }

@media only screen and (max-width:770px){
    .or-section{
        width: 70%;
    }
    
}

@media only screen and (max-width:430px){
    .login-section{
        width: 100%;
    }

    .or-section{
        width: 80%;
        display: block;
        text-align: center;
    }

    .or-section button{
        margin: 5px;
    }
}